
name: Style Key CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
      contents: read

jobs:
  build:
    name: Build image and push to Docker Hub
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'gradle'

    - name: Make application-dev.yml
      env:
          ACTIONS_STEP_DEBUG: true
          APPLICATION_PROD: ${{ secrets.APPLICATION_DEV }}
      run: echo "$APPLICATION_DEV" > src/main/resources/application-dev.yml

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build -x test

    - name: Cache build
      uses: actions/upload-artifact@v3
      with:
        name: build-artifact
        path: build
        retention-days: 1

    - name: Docker build
      run: |
        docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_PASSWORD }}
        docker build -t ${{ secrets.DOCKER_REPO }} .
        docker push ${{ secrets.DOCKER_REPO }}

  deploy:
    name: Deploy to EC2 Server
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: AWS EC2 Server Connect
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_SSH_HOST }}
          username: ${{ secrets.EC2_SSH_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo ${{ secrets.DOCKER_HUB_PASSWORD }} | sudo docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} --password-stdin
            sudo docker pull ${{ secrets.DOCKER_REPO }}
            sudo docker stop stylekey-service || true
            sudo docker rm stylekey-service || true
            sudo docker run --name=stylekey-service -p 8080:8080 -e TZ=Asia/Seoul -d ${{ secrets.DOCKER_REPO }} 
            sudo docker image prune -f

